@font-face {
    font-family: 'UTM Bebas';
    src: url('../fonts/utm__bebas/UTMBebas.eot');
    src: url('../fonts/utm__bebas/UTMBebas.eot?#iefix') format('embedded-opentype'),
        url('../fonts/utm__bebas/UTMBebas.woff2') format('woff2'),
        url('../fonts/utm__bebas/UTMBebas.woff') format('woff'),
        url('../fonts/utm__bebas/UTMBebas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}