@import 'Base/_normalize.scss';
@import 'Helpers/_variables.scss';
@import 'Base/_reset.scss';
@import 'Helpers/_mixin.scss';

// @import 'Components/_button.scss';
// @import 'Components/_input.scss';

@import 'Components/banner/banner';
@import 'Components/card';
@import 'Components/animation';
// @import 'Components/_breadcrumb.scss';
// @import 'Components/_pagination.scss';
// @import 'Components/_preloader.scss';
// @import 'Components/_button.scss';
// @import 'Components/_social.scss';

@import 'Components/header/_header.scss';
@import 'Components/header/_menu.scss';
// @import 'Components/footer/_footer.scss';

@import 'Layout/_home.scss';
// @import 'Layout/_abouts.scss';