.event{
    position: relative;
    padding-top: 2.5rem;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
        height: 1px;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0.4962359943977591) 0%, rgba(204,204,204,1) 40%, rgba(204,204,204,1) 60%, rgba(255,255,255,1) 100%);    
    }
    .head{
        width: 100%;
        .title{
            font-size: 3.5rem;
            font-family: $font-title;
            position: relative;
            &:after {
                content: url('../../../images/CaringLife/bg1.png');
                position: absolute;
                right: -27px;
                top: -27px;
            }
        }
        .sub{
            width: 50%;
            color: #5e5e5f;
        }
    }
    .event-body{
        margin-top: 3rem;
        .thumb{
            position: relative;
            padding: 20px 20px 0 20px;
            &:after{
                content: '';
                width: 90%;
                height: 90%;
                position: absolute;
                left: 0;
                top: 0;
                background-image: url('../../../images/CaringLife/bg2.png');
                background-repeat: no-repeat;
                background-size: contain;
                z-index: -1;
            }
        }
        .event-item{
            .title{
                margin: 1rem auto;
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .events{
        .bread{
            &:before, &:after{
                display: none;
            }
        }
    }
}