.banner-home {
    margin-top: 1rem;
    position: relative;

    .banner-top {
        display: flex;
        flex-direction: row;
        height: 590px;

        .banner-top--left {
            flex: 0 0 40%;
            max-width: 40%;
            align-self: end;

            .banner-nav {
                font-size: 1rem;
                font-family: $font-title;

                .sub {
                    font-weight: bold;
                }
            }

            .banner-title {
                font-family: $font-banner, cursive;

                h1 {
                    font-size: 4rem;
                    margin-top: 0.5em;
                    color: #000;
                }
            }
        }

        .banner-top--right {
            flex: 0 0 60%;
            max-width: 60%;
            text-align: right;
            position: absolute;
            right: 0;
            top: 0;

            img {
                height: 590px;
            }
        }
    }

    .banner-ft {
        display: flex;
        flex-direction: row;
        padding-bottom: 1.5rem;
        border-bottom: 4px solid #ccc;

        &--left {
            flex: 0 0 40%;
            max-width: 40%;
            padding-right: 1rem;

            .sup1 {
                color: $color-main;
                font-weight: bold;

                span {
                    color: #b3b4b6;
                }
            }
        }

        &--right {
            flex: 0 0 60%;
            max-width: 60%;
            padding-left: 1rem;

            .desc {
                font-family: $font-title;
                font-weight: 600;
            }

            .detail {
                position: relative;
                height: 120px;
                overflow: hidden;

                &::after {
                    content: '';
                    width: 100%;
                    height: 60px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: white;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.496236) 6%, white 65%);
                }
            }
        }

        .sup {
            border-top: 4px solid #d0d3d6;
            border-bottom: 1px solid #d5d5d5;
            padding-top: 0.75rem;
            padding-bottom: 0.5rem;

            p {
                margin-bottom: 0;
            }
        }

        .list-group {
            margin-top: 1.5rem;
            font-family: $font-title;

            ul {
                padding-left: 0;
                list-style-type: none;

                li {
                    line-height: 1.5;

                    a {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.banner-home.site-2 {
    margin-top: 0;

    .picture-full-width {
        display: flex;
        width: 100%;
        height: 75vh;
    }

    .banner-home-img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .banner-home-text {
        position: absolute;
        bottom: 0px;
        width: 100%;
        color: #fff;

        >div {
            height: 106px;
        }

        &:before {
            content: "";
            width: 50%;
            height: 100%;
            background-color: white;
            position: absolute;
        }

        &--title {
            border-bottom: 1px solid #ccc;
            font-size: 1.25rem;
        }

        &.khuvuc {
            >div {
                height: 146px;
                background: rgb(167, 167, 167);
                background: linear-gradient(90deg, rgba(167, 167, 167, 1) 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
    }
}