@import '../Pages/home/typeOne';
@import '../Pages/home/typeTwo';
@import '../Pages/home/typeThree';
@import '../Pages/home/agency';
@import '../Pages/home/site2';

section {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.s-head {
    .title {
        font-family: $font-banner, cursive;
        font-size: 3rem;
        line-height: 1.2;
    }

    .desc-group {
        max-width: 66.66667%;
        display: inline-block;
    }
}

.thumbnail {
    overflow: hidden;
}

.btn-see-default {
    display: inline-block;
    padding: 0.75rem 2rem;
    border: 1px solid #ccc;
    border-radius: 32px;
    transition: all 0.4s ease-in-out;
    font-weight: bold;

    &:hover {
        box-shadow: 0 0 5px 1px $color-main;
        border-color: $color-main;

        &.c-black {
            color: white;
            background-color: $color-main;
        }
    }

}

.bg-main {
    background-color: $color-main;
}

.locale {
    display: inline-block;
    padding: 8px 1.5rem 8px 3rem;
    border: 1px solid #ddd8d8;
    border-radius: 2rem;
    color: #000;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: bold;
    position: relative;
    border: 1px solid #0450bf;
    background-color: #0450bf;
    color: #fff;

    &:before {
        content: '';
        background-image: url('../../images/icons/i-walking.png');
        background-repeat: no-repeat;
        width: 12px;
        height: 100%;
        background-size: contain;
        position: absolute;
        left: 17px;
    }
}

.form-search {
    position: relative;

    button {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(50%, -50%);
        background-color: transparent;
        border-color: transparent;
        transition: all 0.4s ease-in-out;

        &:active,
        &:focus,
        &:hover {
            outline: none;
            color: $color-main;
        }
    }

    input {
        padding: 8px 2rem 8px 3rem;
        border-color: transparent;
        border-bottom: 1px solid #ddd8d8;
        display: block;
        width: 100%;
        max-width: 700px;
        transition: all 0.4s ease-in-out;
        position: relative;

        &:active,
        &:focus,
        &:focus-visible {
            outline: none;
            border-color: transparent;
            border-bottom-color: $color-main;
        }

        &:after {
            content: '';

        }
    }

}

.border-none {
    border: transparent !important;
}