.pagination {
    .page-item {
        .page-link {
            margin-right: 5px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            color: #000;
            border-color: #a5a4a4;
            font-weight: bold;
            font-size: 20px;
            background-color: #fff;
            line-height: 1;
            transition: all 0.4s ease-in-out;
        }

        &.active,
        &:hover {
            .page-link {
                background-color: #a5a4a4;
                color: white;
            }
        }
    }
}