:root{
    font-family: $font-default;
    font-size: 16px;
    line-height: 1.4;
    background-color: #fff;
    color: $color-text;
}
body{
    font-family: $font-default;
    font-size: 16px;
    line-height: 1.4;
    color: $color-text;
}
.wrapper{
    max-width: 1488px;
    margin: auto;
}
@media screen and (min-width: 1500px){
    .wrapper{
        max-width: 1488px;
    }
}