.menu-top{
    align-self: center;
    display: block;
    padding-top: 20px;
    ul.menu{
        font-size: 0;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content:space-between;
        padding-left: 40px;
        li{
            font-size: 1rem;
            list-style-type: none;
            display: inline-block;
            width: 100%;
            height: 100%;
            text-align: center;
            position: relative;
            font-family: $font-menu;
            a{
                padding: 1.25rem 0.5rem;
                color: #000;
                text-decoration: none;
                font-size: 1.25rem;
                transition: all 0.3s ease-in-out;
            }
            &:not(:last-child):after {
                content: '';
                position: absolute;
                background-color: #000;
                transition: all 0.3s ease-in-out;
                width: 5px;
                height: 5px;
                right: 0;
                top: calc(50% - 2px);
                border-radius: 50%;
            }
            &:hover{
                a{
                    color: $color-main;
                }
                &:not(:last-child):after {
                    background-color: #2b4ea1;
                }
            }
        }
    }
}
.sub-group{
    ul{
        padding-left: 0;
        font-size: 0;
        list-style-type: none;
        li{
            font-size: 1rem;
            display: inline-block;
            position: relative;
            a{
                font-weight: bold;
            }
            &:not(:first-child){
                a{
                    font-weight: bold;
                    padding: 1rem 1.5rem;
                }
            }
            &.active{
                &:before{
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: $color-main;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
        }
    }
}