$color-main: #8c084c;
$headline: #215107;
$text-w: #fff;
$color-black: #000;
$color-white: #fff;

$font-default: 'Questrial';

$color-primary: #8c084c;
$color-second: #fef6f6;
$color-text: #4e4d4d;
$color-link: #910a4f;
$color-3: #cea9b7;

$font-menu: 'UTM Essendine Caps';
$color-menu: #8c084c;
$font-title: 'Birthstone';